<div class="row">

	<div class="col-xs-9">
		<h2>Follower Users</h2>
		<!--users一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
					<td><%= user.name%></td>
					<td>フォロー数：<%= user.following_user.count %></td>
					<td>フォロワー数：<%= user.followers_user.count %></td>
					<td>
						<% if current_user.following?(user) %>
							<%= link_to 'フォロー外す', unfollow_path(user.id, follow: "index"), method: :POST %>
						<% else %>
							<%= link_to 'フォローする', follow_path(user.id, follow: "index"), method: :POST %>
						<% end %>
					</td>
					<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<!--books一覧 -->

	</div>

</div>