<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>follows</th>
			<th><%= user.following_user.count %></th>
		</tr>
		<tr>
			<th>followers</th>
			<th><%= user.followers_user.count %></th>
		</tr>

</table>

<% if user.id == current_user.id %>
	<div class="row">
		<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
<% else %>
	<% if current_user.following?(user) %>
		<%= link_to 'フォロー外す', unfollow_path(user.id, follow: "show"), method: :POST, class: "col-xs-12 btn btn-default" %>
	<% else %>
		<%= link_to 'フォローする', follow_path(user.id, follow: "show"), method: :POST, class: "col-xs-12 btn btn-default" %>
	<% end %>
<% end %>